.newscard {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 370px;
    height: 210px;
    align-items: left;
    border-radius: 5px;
    transition: transform 0.5s ease;
}

.NewsImage {
    height: 300px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    animation: fadeIn 0.5s forwards;

    &:hover {
        transform: scale(1.05);
    }
}

.newstitle {
    text-align: center;
    width: 100%;
    height: 27px;
}

.newstitle h3 {
    padding-top: 10px;
    text-align: left;
    color: #292929;
    font-size: 18px;
    font-family: 'Montserrat';
    font-style: normal;
}

.newstext {
    text-align: left;
    width: 330px;
    margin-top: 10px;
}

.newstext p {
    color: #292929;
    font-size: 14px;
    font-family: 'Proxima';
    font-style: normal;
}

.newsdate p {
    text-align: left;
    color: #969696;
    font-size: 12px;
    font-family: 'Montserrat light';
}

.content {
    padding: 20px 20px;
}

@media (max-width: 1250px) {
    .newscard {
        width: 320px;
        height: 250px;
    }
    .newstext{
        margin-top: 30px;
    }
  }

  @media (max-width: 800px) {
    .newscard {
        width: 90%;
        height: 250px;
        margin: 0 auto;
    }
    .newstext{
        margin-top: 30px;
        width: 100%;
    }
  }