@import 'mixins';

.product_con_title {
    text-align: center;
    margin-top: 100px;
  
    h1 {
      color: #292929;
      font-size: 30px;
      font-family: 'Montserrat';
      font-style: normal;
    }
  }

.productCon {
    display: grid;
    place-items: center;
    height: 100%;
    margin-top: 50px;
    position: relative;
}

.product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
}

.button {
    @include button;
    margin-top: 52px;
    color: #292929;
    font-size: 14px;
    font-family: 'Montserrat';
    font-style: normal;
}

.allproduct {
    padding-bottom: 50px;
}

.categoryButtons {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.category_con {
    padding-left: 30px;
    display: grid;
    place-items: center;
    height: 100%;
    margin-top: 20px;
    position: relative;
}

@media (max-width: 1400px) {
    .product {
      grid-template-columns: repeat(3, 1fr);
    }
    .categoryButtons {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 10px;
  }
  }

@media (max-width: 1250px) {
  .product {
    grid-template-columns: repeat(2, 1fr);
  }
  .categoryButtons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
}

@media (max-width: 600px) {
  .product {
    grid-template-columns: repeat(1, 1fr);
  }
  .categoryButtons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
}